.bt-effect {
  transform: scale(1) translateX(0) translateY(0);
  opacity: 1.0;
  transition: transform 1s, opacity 1s;
}

.bt-effect.effect-left {
  transform: translateX(-64px) !important;
}

.bt-effect.effect-right {
  transform: translateX(64px) !important;
}

.bt-effect.effect-top {
  transform: translateY(-64px) !important;
}

.bt-effect.effect-bottom {
  transform: translateY(64px) !important;
}

.bt-effect.effect-grow {
  transform: scale(.8) !important;
}

.bt-effect.effect-shrink {
  transform: scale(1.2) !important
}

.bt-effect.effect-fade {
  opacity: 0 !important;
}
